*{
    padding: 0px;
    margin: 0px;
}
#searchbar{
    width: 600px;
    height: 50px;
    border: 2px solid gray;
    margin: 300px 400px;
    border-radius: 80px;
    outline: none;
    background-color: lightgray;
}
#search{
    outline: none;
    border: none;
    font-size: larger;
    margin-top: 15px;
    margin-left: 55px;
    background-color: lightgray;
}
#searchicon{
    position: relative;
    left: -270px;
    color: gray;
    font-size: 20px;
}